<div class="content dashboard">
	<div class="description center-block ">
	<h1>Welcome To Plentus</h1>
	
	Each feature is designed to help you manage your finances, and is an essential piece of your budgeting and management journey.
	</div>
</div>