<% content_for :title do %>Plentus App<% end %>
<% content_for :description do %>Plentus Pre-Launch Invitation<% end %>
<div style="text-align: center; margin-top: 20px">
   <div class="span4 offset2">
     <h2>Stay in touch.</h2>
   </div>
   <div class="span4">
<div>
<%= simple_form_for @visitor do |f| %>
<%= f.error_notification %>
<%= f.input :email, label: false, :placeholder => 'your@emailaddress.com' %> 
<br/>
<%= f.submit "Request an Invite", :class => "btn btn-primary"%>
<% end %> 
</div>
   </div>
 </div>