<% content_for :title do %>Plentus App: Launching Soon<% end %>
<% content_for :description do %>Sign up and get invited to Plentus. Manage your pursuit of wealth, health and all things in abundance.<% end %>
<div style="text-align: center; margin-top: 20px">
	<div class="logo"></div>
   <div class="description">
     <h1><span class="blue-keyword">Plentus</span> is a web app for managing your pursuit of wealth, health, and all things in abundance.</h1>
   </div>
   <div class="form-email">
<%= simple_form_for @visitor, remote: true do |f| %>
<%= f.error_notification message: 'The email address in invalid' %>
<%= f.input :email, label: false, error: false, :placeholder => 'Type your email address here' %> 
<%= f.submit "Request an Invite", :class => "btn btn-primary"%>
<% end %> 
   </div>
 </div>