<% provide(:title, 'Plentus Blog - Recent Posts') %>
<main class="bs-bloghead index features" role="main">
<div class="top">
<div class="container upper">
<div class="row">
	<%= render 'layouts/features_menu' %>
<div class="description">
	<h4>Conversations</h4>
	Have your finance questions answered by a certified financial advisor
	</div>
</div>
</div>
</div>
<div class="container lower">
<div class="row">
  <div class="col-xs-4 left"><h2>Which plans include conversations?</h2><div class="h2-info">At this time only our Basic (Plus+) plan includes conversations. We plan on offering multiple plans featuring conversations at a later date.</div></div>
  <div class="col-xs-4 center"><h2>Am I eligible to use conversations?</h2><div class="h2-info">Currently conversations is only available in select regions/countries. Eligibility is determined at the time of your registration/plan selection.</div></div>
  <div class="col-xs-4 right"><h2>What can I use conversations for?</h2><div class="h2-info">With conversations, it's like having your own personal financial advisor in front of you. If you have a finance question, conversations can help.</div></div>	
</div>
<div class="row">
  <div class="col-xs-4 left"><h2>Can I opt out of conversations?</h2><div class="h2-info">Yes! Keep in mind you don't have to use conversations, but if you want to opt out completely, you can turn it off from within your account settings.</div></div>
  <div class="col-xs-4 center"><h2>Will I be billed for using conversations?</h2><div class="h2-info">There are no additional fees for using conversations. You will only be billed for the price of your chosen plan which includes conversations.</div></div>
  <div class="col-xs-4 right"><h2>How many conversations can I have?</h2><div class="h2-info">Currently conversations is limited to 3 conversations, per account, each month.</div></div>	
</div>
</div>
</main>