<% provide(:title, 'Plentus | Home') %>
<div class="top">
<div class="container upper">
<div class="row">
<div class="col-xs-12">
	<div class="logo"></div>
   <div class="description">
     <h1>Plentus is a web app for managing your pursuit of wealth, health, and all things in abundance.</h1>
   </div>
</div>
</div>
<div class="row">
	<div class="col-xs-6"><button class="btn btn-outline-inverse btn-lg" type="button">SIGN UP</button></div>
	<div class="col-xs-6"><button class="btn btn-solid btn-lg" type="button">LEARN MORE</button></div></div>
</div>
<div class="container middle">
<div class="app-promo"></div>
</div>
</div>
</div>
<div class="bottom">
<div class="container lower">
<div class="row">
  <div class="col-xs-4 left"><h2>Features to help you manage</h2><div class="h2-info">Manage your finances, track expenses and graph data that is important to you. See how your money is being spent, and achieve your budget goals.</div></div>
  <div class="col-xs-4 center"><h2>Support when you need it</h2><div class="h2-info">Solve your problem using our Help Center or open a support ticket to have your question answered personally. </div></div>
  <div class="col-xs-4 right"><h2>Cloud driven functionality</h2><div class="h2-info">Getting started with Plentus couldn't be easier. Just log in. Your data is stored securely in the cloud so there's no need to install anything.</div></div>	
</div>
</div>
</div>