<% provide(:title, 'Plentus | Home') %>
<div style="text-align: center; margin-top: 20px">
	<div class="logo"></div>
   <div class="description">
     <h1>Plentus is a web app for managing your pursuit of wealth, health, and all things in abundance.</h1>
   </div>

 </div>