<% provide(:title, 'Plentus - Personalized Financial Management, Expense Tracking, Budgeting, Life Goals') %>
<main class="bs-masthead" role="main">
<div class="top">
<div class="container upper">
<div class="row">
<div class="col-xs-12">
   <div class="description">
     <h1>Manage your pursuit of wealth, health, and all things in abundance.</h1>
   </div>
</div>
</div>
<div class="row">
	<div class="col-xs-6"><%= link_to "SIGN UP", registration_path, class: "btn btn-outline-inverse btn-lg" %></div>
	<div class="col-xs-6"><button class="btn btn-solid btn-lg" type="button">LEARN MORE</button></div></div>
</div>
<div class="container middle">
<div class="app-promo"></div>
</div>
</div>
</div>
<div class="bottom">
<div class="container lower">
<div class="row">
  <div class="col-xs-4 left"><h2>Features to help you manage</h2><div class="h2-info">Manage your finances, track expenses and graph data that is important to you. See how your money is being spent, and achieve your budget goals.</div></div>
  <div class="col-xs-4 center"><h2>Dedicated support team</h2><div class="h2-info">Get answers fast using our Help Center or open a support ticket to have your question answered personally. </div></div>
  <div class="col-xs-4 right"><h2>Cloud driven functionality</h2><div class="h2-info">Getting started with Plentus couldn't be easier. Just log in. Your data is stored securely in the cloud so there's no need to install anything.</div></div>	
</div>
<div class="row padded-top">
<div class="col-xs-6 features"><div class="container features-see-more"><%= link_to("<div class=\"inner-border\"><span class=\"glyphicon glyphicon-eye-open\"></span>SEE ALL FEATURES</div>".html_safe, page_path('overview'), class: "btn btn-rounded-inset btn-lg") %></div></div>
<div class="col-xs-6">
<div class="container icons"><div class="social social-fb"><a class="btn social-fb" href="http://facebook.com/GoPlentus"></a></div><div class="social social-twitter"><a class="btn social-twitter" href="http://twitter.com/goplentus"></a></div></div>
</div>
</div>
</div>
<%= render 'layouts/footer' %>
</div>
</main>
