<% provide(:title, 'Plentus Blog - Recent Posts') %>
<main class="bs-bloghead index features" role="main">
<div class="top">
<div class="container upper">
<div class="row">
	<%= render 'layouts/features_menu' %>
	</div>
	</div>
	</div>
	</main>