<% provide(:title, 'Plentus - Overview') %>
<main class="bs-bloghead index features" role="main">
<div class="top">
<div class="container upper">
<div class="row">
	<%= render 'layouts/features_menu' %>
	<div class="description">
		<h4>Features Overview</h4>
		Plentus makes it easy to manage what's important to you using our unique blend of features
	</div>
</div>
</div>
<div class="container lower">
<div class="plan-identifier">CORE FEATURES</div>
<div class="row">
  <div class="col-xs-4 left"><h2>Finances</h2><div class="h2-info">A full suite of tools to help you manage your finances. Track your money, create budgets and set goals. Manage debts and feel confident on your road to wealth.</div></div>
  <div class="col-xs-4 center"><h2>Tracking</h2><div class="h2-info">Track and categorize your finances by using our graphing tools to see and manage the aspects of your finances that are most important to you.</div></div>
  <div class="col-xs-4 right"><h2>Budgeting</h2><div class="h2-info">Create and maintain a single budget, or multiple budgets with ease. Set budget goals and integrate your budget through tracking and graphs.</div></div>	
</div>
<div class="row">
  <div class="col-xs-4 left"><h2>Debt</h2><div class="h2-info">Manage your progress towards the payment of debts. See the progess you've made and see exactly how much longer until your debts are paid.</div></div>
  <div class="col-xs-4 center"><h2>Health<span class="coming-soon">COMING SOON</span></h2><div class="h2-info">Plentus aims to be a full suite of tools to help manage not only your wealth, but also your health. Achieve fitness goals and balance your life with a healthy diet.</div></div>
  <div class="col-xs-4 right"><h2>Support</h2><div class="h2-info">Our team of dedicated support staff are happy to help you with any questions you have. Login to open a support ticket or browse our help center.</div></div>	
</div>
<div class="plan-identifier">(PLUS+) FEATURES</div>
<div class="row">
  <div class="col-xs-4 left"><h2>Conversations</h2><div class="h2-info">Have your finance questions answered by a certified financial advisor. If you have a finance question, conversations can help.</div></div>
  <div class="col-xs-4 center"><h2>Tax Calculator</h2><div class="h2-info">Get an estimate on the amount of your yearly tax return using the Tax Calculator tool.</div></div>
  <div class="col-xs-4 right"></div>	
</div>
</div>
</main>