<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  	<form role="form">
	<div class="form-group">
		<div class="input-group">
		  <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
	<%= f.input :email, :label => false, placeholder: 'Email' %>
	</div>
	</div>
	<div class="form-group">
		<div class="input-group">
		  <span class="input-group-addon"><i class="fa fa-key"></i></span>
	<%= f.input :password, :label => false, placeholder: 'Password' %>
	</div>
	</div>
	<%= f.submit "Login", :class => "btn btn-solid btn-lg"%>
	</form>
<% end %>