/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
 @font-face {font-family: 'ProximaNova-Thin';
src: font-url("ProximaNova_Thin.eot"); src: font-url("ProximaNova_Thin.eot?#iefix") format('embedded-opentype'), font-url("ProximaNova_Thin.woff") format('woff'), font-url("ProximaNova_Thin.ttf") format('truetype');}
html {
height: 100%;
}
body {
background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…gd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4="),asset-url("bgnoise_lg_dark.png", image);
background: radial-gradient(farthest-side ellipse at 10% 0, rgba(210,215,215,0.9), rgba(206,219,223,0.89), rgba(235,239,232,0.9)), asset-url("bgnoise_lg_dark.png", image);
background: -webkit-radial-gradient(10% 0, farthest-side ellipse, rgba(210,215,215,0.9), rgba(206,219,223,0.89), rgba(235,239,232,0.9)),asset-url("bgnoise_lg_dark.png", image);
background: -moz-radial-gradient(10% 0, farthest-side ellipse, rgba(210,215,215,0.9), rgba(206,219,223,0.89), rgba(235,239,232,0.9)),asset-url("bgnoise_lg_dark.png", image);
}