<div class="footer">
<div class="container footer">
	<div class="row footer">
		<div class="col-xs-8">
		<div class="content h2-info">
			Copyright Plentus <%= Time.now.strftime("%Y") %> | Handcrafted in Victoria, Canada | <span class="terms"><%= link_to "Terms", page_path('terms') %></span>
		</div>
		</div>
		<div class="col-xs-4 columns">
			
				<div class="sales">
			<h5>Sales & Support</h5>
			<ul class="footer-lists">
				<li class="footer-col"><a href="mailto:sales@goplentus.com">Contact Sales</a></li>
				<li class="footer-col"><a href="mailto:support@goplentus.com">Contact Support</a></li>
				
			</ul>
			</div>
			
			
				<div class="social">
				<h5>Social</h5>
				<ul class="footer-lists">
					<li class="footer-col"><a href="http://facebook.com/GoPlentus">Facebook</a></li>
					<li class="footer-col"><a href="http://twitter.com/goplentus">Twitter</a></li>
				</ul>
				</div>

		</div>
	</div>
</div>
</div>