<div class="top-navigation">
<div class="row">
	<div class="col-xs-6"><div class="logo"><%= link_to image_tag('plentuslogo.png', :size => '144x39'), root_path %></div></div>
	<div class="col-xs-6">
		<div class="nav-items">
		<ul class="nav nav-pills nav-custom">
		  <li><a href="#">Features</a></li>
		  <li><a href="#">Pricing</a></li>
		  <li><%= link_to "Blog", blog_index_path %></li>
		  <li><%= link_to "Sign Up", registration_path %></li>
		</ul>
		</div>
	</div>
</div>
</div>