<div class="top-navigation">
<div class="row">
	<div class="col-xs-6"><div class="logo"></div></div>
	<div class="col-xs-6">
		<div class="nav-items">
		<ul class="nav nav-pills nav-custom">
		  <li><a href="#">Features</a></li>
		  <li><a href="#">Pricing</a></li>
		  <li><a href="#">Blog</a></li>
		  <li><a href="#">Sign Up</a></li>
		</ul>
		</div>
	</div>
</div>
</div>